<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>295657758355-7kgek52dth4bgffhampk72vq54mlgdav.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.295657758355-7kgek52dth4bgffhampk72vq54mlgdav</string>
	<key>API_KEY</key>
	<string>AIzaSyAOeIJXV_B1fnL90dX8pNBvd0p4VhPBBI4</string>
	<key>GCM_SENDER_ID</key>
	<string>295657758355</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mobi.uchicago.book-firebase</string>
	<key>PROJECT_ID</key>
	<string>library-book-firebase</string>
	<key>STORAGE_BUCKET</key>
	<string>library-book-firebase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:295657758355:ios:73a800be12600eae343766</string>
</dict>
</plist>